h1{
    color: rgb(0, 196, 42);
    margin-left: 20px;
}
.header-cls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-cls ul{
    display: flex;
    list-style: none;
}
.header-cls li{
    margin-right: 20px;
}
.active{
    color: blue;
}